*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, rgba(217,19,251,1) 18%, rgba(249,219,98,1) 62%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}