*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, rgba(217,19,251,1) 18%, rgba(249,219,98,1) 62%);
  height: 100vh;
}

.calculator-grid {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  font-size: 2rem;
  border: 1px solid white;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.669);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.888);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand{
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.678);
}

.output .current-operand {
  font-size: 2.5rem;
  color: #fff;
}